In [1]:
import os
import re
import glob
from datetime import datetime
import sys
sys.path.append("..") # Adds higher directory to python modules path for importing from src dir

import pandas as pd
import numpy as np
import tqdm
import matplotlib
from matplotlib import pyplot as plt
from tqdm import tqdm_notebook as tqdm

import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
nlp = en_core_web_sm.load()

%matplotlib inline
%load_ext autotime
%load_ext autoreload
%autoreload 2

c:\users\thomas\hpi\ma\venv\lib\importlib\_bootstrap.py:205: RuntimeWarning: cymem.cymem.Pool size changed, may indicate binary incompatibility. Expected 48 from C header, got 64 from PyObject
  return f(*args, **kwds)
c:\users\thomas\hpi\ma\venv\lib\importlib\_bootstrap.py:205: RuntimeWarning: cymem.cymem.Address size changed, may indicate binary incompatibility. Expected 24 from C header, got 40 from PyObject
  return f(*args, **kwds)
c:\users\thomas\hpi\ma\venv\lib\importlib\_bootstrap.py:205: RuntimeWarning: cymem.cymem.Pool size changed, may indicate binary incompatibility. Expected 48 from C header, got 64 from PyObject
  return f(*args, **kwds)
c:\users\thomas\hpi\ma\venv\lib\importlib\_bootstrap.py:205: RuntimeWarning: cymem.cymem.Address size changed, may indicate binary incompatibility. Expected 24 from C header, got 40 from PyObject
  return f(*args, **kwds)

In [2]:
HOME = ".."
DATA_DIR = "data"
REUTERS = os.path.join(HOME, DATA_DIR, "preprocessed", "news_reuters.csv")
BLOOMBERG = os.path.join(HOME, DATA_DIR, "preprocessed", "news_bloomberg.csv")
NEWS = os.path.join(HOME, DATA_DIR, "preprocessed", "news.csv")
# Columns: 'date', 'filename', 'content'

time: 164 ms

### Get companies

In [3]:
from src.datasets import NyseSecuritiesDataset
from src.datasets import NyseStocksDataset
import src.nlp_utils as nlp_utils

time: 1.01 s

In [24]:
stocks_ds = NyseStocksDataset(file_path='../data/nyse/prices-split-adjusted.csv')
securities_ds = NyseSecuritiesDataset(file_path='../data/nyse/securities.csv')
companies = securities_ds.get_all_company_names()  # List[Tuple[symbol, name]]
stocks_ds.load()

HBox(children=(IntProgress(value=0, max=501), HTML(value='')))

time: 16.2 s

Reuters:
- 106519 articles
- From 2006-10-20 to 2013-11-20
- 45363 before 2010-01-04

Bloomberg:
- 448395 articles
- From 2006-10-20 to 2013-11-26
- 1148 before 2010-01-04

Nyse:
- From 2010-01-04 to 2016-12-30

In [ ]:
dates_r = pd.read_csv(REUTERS, usecols=[0, 1], index_col=0)
dates_r['date'] = pd.to_datetime(dates_r['date'], errors='coerce')
dates_r['date'].hist()
print(sum(dates_r['date'] <= pd.to_datetime('2010-01-04')))

In [ ]:
dates_b = pd.read_csv(BLOOMBERG, usecols=[0, 1], index_col=0)
dates_b['date'] = pd.to_datetime(dates_b['date'], errors='coerce')
dates_b['date'].hist()
print(sum(dates_b['date'] <= pd.to_datetime('2010-01-04')))

# Multi Run

#### Before NYSE
- All from Reuters and Bloomberg before first entry of NYSE dataset
- 45363 article from Reuters
- 1148 articles from Bloomber
- Resulted in about 102.735 company occurrences
- `./occurrences-before-nyse.csv` [3.9 MB]

#### Reuters

- Took 53h (2d 2h 58min 18s)
- Analysed 106.519 articles (106.494 included content)
- Resulted in 217.518 company occurrences
- ... in 52.210 different articles
- `./occurrences-reuters.csv`[8.5 MB]

In [5]:
reuters = pd.read_csv(REUTERS, index_col=0)  # nrows=45363
print(len(reuters))
reuters = reuters[reuters['content'].notna()]
print(len(reuters))

106519
106494
time: 5.72 s

In [ ]:
results = pd.DataFrame(
    index=range(5 * len(reuters)),
    columns=['article_id', 'stock_symbol', 'match_text', 'start_idx', 'end_idx'])
counter = 0

In [ ]:
pbar = tqdm(reuters.iterrows(), total=len(reuters))
for i, article in pbar:
    # One full article takes about 7 seconds
    found_entities = nlp_utils.find_nyse_corporations(article[2], quiet=True)
    for ent, symbol in found_entities:
        results.iloc[counter] = (f'r{i}', symbol, ent.text, ent.start_char, ent.end_char)
        counter += 1
    if (counter % 500) + len(found_entities) != (counter + len(found_entities)) % 500:
        results.dropna().to_csv('occurrences-reuters.csv')
        pbar.set_description(f"Stored {counter} entries")
results.dropna().to_csv('occurrences-reuters.csv')

#### Bloomberg
- Took ?
- Analysed 448.395 articles (447.769 included content)
- Resulted in ? company occurrences
- ... in ? different articles
- `./occurrences-bloomberg.csv` [? MB]

In [6]:
bloombergs = pd.read_csv(BLOOMBERG, index_col=0)  # nrows=1148
print(len(bloombergs))
# bloombergs = bloombergs[bloombergs['content'].notna()]
# print(len(bloombergs))

448395
time: 25.7 s

In [33]:
results = pd.DataFrame(
    index=range(10 * len(bloombergs)),
    columns=['article_id', 'stock_symbol', 'match_text', 'start_idx', 'end_idx'])

time: 1.25 s

In [52]:
# _results = pd.read_csv('occurrences-bloomberg.csv', index_col=0)
# print(results.shape, _results.shape)
# results.iloc[:len(_results)] = _results
# TODO: set start to last article id

time: 34.2 ms

In [94]:
# x = results2.iloc[:counter]
# x.index = x.index + 34996
# results.iloc[34996:34996+counter] = x

time: 28.2 ms

In [ ]:
# start = 0
# start = 48087
counter = start
pbar = tqdm(bloombergs.iloc[start:].iterrows(), total=len(bloombergs)-start)
for i, article in pbar:
    if article.content is np.nan:
        continue
    # One full article takes about 7 seconds
    found_entities = nlp_utils.find_nyse_corporations(article.content, quiet=True)
    
    for ent, symbol in found_entities:
        results.iloc[counter] = (f'b{i}', symbol, ent.text, ent.start_char, ent.end_char)
        counter += 1
    if (counter % 1000) - len(found_entities) != (counter - len(found_entities)) % 1000:
        results.dropna().to_csv('occurrences-bloomberg.csv')
        pbar.set_description(f"Stored {counter} entries")
        print(f"Stored {counter} entries")
results.dropna().to_csv('occurrences-bloomberg.csv')

HBox(children=(IntProgress(value=0, max=400308), HTML(value='')))

Stored 49003 entries
Stored 50000 entries
Stored 51006 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 53002 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 55001 entries
Stored 56011 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 58000 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 60001 entries
Stored 61000 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 63001 entries

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

Stored 65012 entries
Stored 66000 entries
Stored 67001 entries

## Remove headlines from articles and the found entities

In [9]:
reuters = pd.read_csv(REUTERS, index_col=0)
reuters = reuters[reuters.content.notna()]
print('Reuters Articles', len(reuters))
reuters['title_start_idx'] = 0
reuters['title_end_idx'] = 0
reuters['head_end_idx'] = 0

# Don't remove entries with empty content because the bb occurrences are matching the original index values
bloombergs = pd.read_csv(BLOOMBERG, index_col=0)
bloombergs['title_start_idx'] = 0
bloombergs['title_end_idx'] = 0
bloombergs['head_end_idx'] = 0

# The articles keep their IDs which is necessary for matching them with the occurrences
# Both are not necessary for reuters
bloombergs = bloombergs[bloombergs.content.notna()]  # 626 article with empty content, e.g. b821, b822, b835, ..., b382080
# Regex wouldn't match because only the title's existing: e.g. b19841, b7498, b8401, b11860 (so far all have below 100 chars)
# For reuters there are always more than 100 chars, but sometimes only the meta data (~1000 entries)
bloombergs = bloombergs[bloombergs.content.str.len() > 100]  # 391 articles, regexes wouldn't match
print('Bloomberg Articles', len(bloombergs))

Reuters Articles 106494
Bloomberg Articles 447378
time: 20.7 s

#### Data Cleansing

In [10]:
orig_occ_r = pd.read_csv('occurrences-reuters.csv', index_col=0)
x = orig_occ_r
# All 3406 links in reuters articles are those in the header for the article link (and one in r49915 to uscourts.gov)
x = x[~x.match_text.str.contains('www.')]
orig_occ_r = x

time: 416 ms

In [11]:
orig_occ_b = pd.read_csv('occurrences-bloomberg.csv', index_col=0)
# BB: Links starting before inde 400 are eiter "http://ww.bloomberg..." or "Ministry of Economy, Trade and Industry  http://www.meti.go.jp"
x = orig_occ_b
x = x[~x.match_text.str.contains("Ministry of Economy, Trade and Industry")]
x = x[~x.match_text.str.contains('http:') | (x.start_idx > 300)]
print(x.shape)
print(f'{x.match_text.str.contains("http:").sum()} out of {orig_occ_b.match_text.str.contains("http:").sum()} links are left')
orig_occ_b = x

(291934, 5)
122 out of 111783 links are left
time: 1.85 s

#### Filter matches from header

In [14]:
# remove_meta = re.compile(r'(--.*\n)+[\n\s]*')
remove_meta = re.compile(r'-- (.*)\n(?:--.*\n)+[\n\s]*')
# remove_meta_2 = re.compile(r'[\s\S]*(--.*\n)(?:(?:[^-]-[^-]|[^-])*\n){4,}')
remove_meta_2 = re.compile(r'[\s\S]{0,250}(--.*\.html\s*\n)(?:[^-](?:-[^-])*|-(?:[^-]-)*){250}')

def filter_meta_matches(r, article, article_id):
    # If there's no occurence in this article, we're done
    if not len(r[r.article_id == article_id]):
        return r
    match = remove_meta.match(article.content)
    if match:
        article.title_start_idx = match.start(1)
        article.title_end_idx = match.end(1)
        article.head_end_idx = match.end()
        return r[(r.article_id != article_id) | (r.start_idx >= article.head_end_idx) |
             (r.start_idx.between(article.title_start_idx, article.title_end_idx) &
             r.end_idx.between(article.title_start_idx, article.title_end_idx))]
    match = remove_meta_2.match(article.content)
    if match:
        article.title_start_idx = -1
        article.title_end_idx = -1
        article.head_end_idx = match.end(1)
        return r[(r.article_id != article_id) | (r.start_idx >= article.head_end_idx)]
    print(f"No regex worked for article {article_id}")
    return r

time: 23 ms

In [ ]:
occ_r = orig_occ_r
print('Before - Reuters:', orig_occ_r.shape)

for i, article in tqdm(reuters.iterrows(), total=len(reuters)):
    occ_r = filter_meta_matches(occ_r, article, f'r{i}')

print('After - Reuters:', occ_r.shape)
# Reduced from 214112 to 214109
occ_r.to_csv('occurrences-reuters-v2.csv')

In [ ]:
occ_b = orig_occ_b
print('Before - Bloomberg:', orig_occ_b.shape)
# Fails: b69482, b76189, b83057, b88059, b97550, b98027, b100132, b107901, b113886, b124492, b134323, b136283, b151695, b163888, b164659, b164663, b166778, b166962, b173433, b176106, b176183, b181211, b185876
for i, article in tqdm(bloombergs.iterrows(), total=len(bloombergs)):
    occ_b = filter_meta_matches(occ_b, article, f'b{i}')
print('After - Bloomberg:', occ_b.shape)
# Reduced from 403596 to , from 111778 links to links (which are not in the header)
occ_b.to_csv('occurrences-bloomberg-v2.csv')

### Apply on Reuters Article

In [322]:
# idxmax reuters: 61727  (FB 26, MSFT 1, NWSA 44, NWS 44, YHOO 1)
reuters = pd.read_csv(REUTERS, skiprows=61727, nrows=1, index_col=0)
# print(reuters.loc[61727][2])

time: 943 ms

In [ ]:
article1 = nlp(reuters.loc[61727][2])
labels = [x.label_ for x in article1.ents]
print(Counter(labels))
items = [x.text for x in article1.ents if x.label_ == 'ORG']
print(Counter(items))  # .most_common(3)
sentences = [x for x in article1.sents]
print(sentences[20])
displacy.render(nlp(str(sentences[20])), jupyter=True, style='ent')

In [ ]:
counts = Counter([ent for ent, label in zip(items, labels) if label == 'ORG'])
matches = [
    [key, counts[key], securities_ds.get_most_similar_company(key)] for key in counts]
matches = [x for x in matches if x[2] is not None]
matched_stocks = dict([(x[0], x[2]) for x in matches])
matches

In [ ]:
# print(securities_ds.get_most_similar_company('AOL-Time Warner', quiet=False))
found_entities = nlp_utils.find_nyse_corporations(reuters.loc[61727][2], quiet=False)

### Apply on Bloomberg Article

In [ ]:
# idxmax bloomberg: 316777  (AAPL 1, FB 79, JPM 1, MSFT 1, MS 7)
bloomberg = pd.read_csv(BLOOMBERG, skiprows=316777, nrows=1, index_col=0)
# print(bloomberg.loc[316777][2])

In [ ]:
found_entities = nlp_utils.find_nyse_corporations(bloomberg.loc[316777][2], quiet=False)

### Fix matches for short company name (3M matches too many strings)

In [155]:
occ_b = pd.read_csv('occurrences-bloomberg-v2.csv', index_col=0)
# 32189 entries, this problem seems to only exist for 3M co. [MMM]
cleaned_up = occ_b[(occ_b['stock_symbol'] != 'MMM') | occ_b.match_text.str.contains('3M')]
# cleaned_up.to_csv('occurrences-bloomberg-v2.csv')

time: 2.41 s

In [156]:
occ_r = pd.read_csv('occurrences-reuters-v2.csv', index_col=0)
# 5751 entries, this problem seems to only exist for 3M co. [MMM]
cleaned_up = occ_r[(occ_r['stock_symbol'] != 'MMM') | occ_r.match_text.str.contains('3M')]
# cleaned_up.to_csv('occurrences-reuters-v2.csv')

time: 1.92 s

### Calculate Cooccurrences

In [269]:
def get_cooccurrences(occs):
    grouped = occs.groupby(['article_id', 'stock_symbol'], sort=False)
    occ_per_article = grouped.size().reset_index().pivot('article_id', 'stock_symbol').fillna(0).astype(int)
    occ_per_article.columns = occ_per_article.columns.droplevel(0)
    comp_does_occure = (occ_per_article != 0).astype(int)
    cooc = comp_does_occure.T.dot(comp_does_occure)
    # comps_article_counts = np.diag(cooc)  # (occ_per_article != 0).astype(int).sum(axis=0)
    np.fill_diagonal(cooc.values, 0)
    return cooc

occs_b = pd.read_csv('occurrences-bloomberg-v2.csv', index_col=0)
occs_r = pd.read_csv('occurrences-reuters-v2.csv', index_col=0)
occs = pd.concat([occs_b, occs_r]).reset_index(drop=True)

time: 688 ms

In [201]:
# cooc_r = get_cooccurrences(occs_r)
# cooc_b = get_cooccurrences(occs_b)
coocs = get_cooccurrences(occs)

time: 19.6 s

In [288]:
top[::5].head(10)

                           Comp A                      Comp B  Articles
0      Bank of America Corp [BAC]  JPMorgan Chase & Co. [JPM]      3132
5        Goldman Sachs Group [GS]         Morgan Stanley [MS]      2031
10             Citigroup Inc. [C]    Goldman Sachs Group [GS]      1480
15         Microsoft Corp. [MSFT]           Yahoo Inc. [YHOO]      1101
20            Chevron Corp. [CVX]     Exxon Mobil Corp. [XOM]       656
25             Target Corp. [TGT]       Wal-Mart Stores [WMT]       531
30  American Airlines Group [AAL]       Delta Air Lines [DAL]       437
35              Apple Inc. [AAPL]    Goldman Sachs Group [GS]       352
40          Amazon.com Inc [AMZN]      Microsoft Corp. [MSFT]       315
45         Microsoft Corp. [MSFT]                AT&T Inc [T]       278

time: 190 ms

In [273]:
coocs.to_csv('cooccurrences.csv')

time: 456 ms

In [280]:
top = coocs.stack()
top.index.levels[0].name = 'Comp A'
top.index.levels[1].name = 'Comp B'
top = top[[p[0] < p[1] for p, v in top.iteritems()]].nlargest(100)
# print('\n'.join([
#     f"'{securities_ds.get_company_name(pair[0])}[{pair[0]}]' and '{securities_ds.get_company_name(pair[1])}[{pair[1]}]' occur in {value} articles"
#     for pair, value in top.nlargest(10).iteritems()]))
top = top.reset_index()
top.columns = list(top.columns[:2]) + ['Articles']
top['Comp A'] = [f'{securities_ds.get_company_name(x)} [{x}]' for x in top['Comp A']]
top['Comp B'] = [f'{securities_ds.get_company_name(x)} [{x}]' for x in top['Comp B']]
top

,Comp A,Comp B,Articles
0,Bank of America Corp [BAC],JPMorgan Chase & Co. [JPM],3132
1,Bank of America Corp [BAC],Citigroup Inc. [C],2951
2,Citigroup Inc. [C],JPMorgan Chase & Co. [JPM],2679
3,Citigroup Inc. [C],Morgan Stanley [MS],2292
4,Apple Inc. [AAPL],Microsoft Corp. [MSFT],2093
5,Goldman Sachs Group [GS],Morgan Stanley [MS],2031
6,JPMorgan Chase & Co. [JPM],Morgan Stanley [MS],1965
7,Bank of America Corp [BAC],Morgan Stanley [MS],1915
8,Bank of America Corp [BAC],Wells Fargo [WFC],1613
9,Goldman Sachs Group [GS],JPMorgan Chase & Co. [JPM],1504
10,Citigroup Inc. [C],Goldman Sachs Group [GS],1480
11,Ford Motor [F],General Motors [GM],1440
12,Bank of America Corp [BAC],Goldman Sachs Group [GS],1439
13,JPMorgan Chase & Co. [JPM],Wells Fargo [WFC],1205
14,Citigroup Inc. [C],Wells Fargo [WFC],1157
15,Microsoft Corp. [MSFT],Yahoo Inc. [YHOO],1101
16,Apple Inc. [AAPL],Facebook [FB],848
17,Apple Inc. [AAPL],AT&T Inc [T],761
18,Facebook [FB],Microsoft Corp. [MSFT],701
19,Apple Inc. [AAPL],Intel Corp. [INTC],691
20,Chevron Corp. [CVX],Exxon Mobil Corp. [XOM],656
21,Apple Inc. [AAPL],Amazon.com Inc [AMZN],622
22,Intel Corp. [INTC],Microsoft Corp. [MSFT],607
23,Morgan Stanley [MS],Wells Fargo [WFC],588
24,Facebook [FB],Yahoo Inc. [YHOO],547
25,Target Corp. [TGT],Wal-Mart Stores [WMT],531
26,Apple Inc. [AAPL],Bank of America Corp [BAC],501
27,Goldman Sachs Group [GS],Wells Fargo [WFC],471
28,Apple Inc. [AAPL],Citigroup Inc. [C],467
29,Apple Inc. [AAPL],JPMorgan Chase & Co. [JPM],446
...,...,...,...
70,General Motors [GM],JPMorgan Chase & Co. [JPM],220
71,Apple Inc. [AAPL],Caterpillar Inc. [CAT],219
72,BlackRock [BLK],JPMorgan Chase & Co. [JPM],217
73,International Business Machines [IBM],Microsoft Corp. [MSFT],214
74,CBS Corp. [CBS],News Corp. [NWSA],212
75,Apple Inc. [AAPL],Boeing Company [BA],211
76,American Express Co [AXP],Citigroup Inc. [C],209
77,General Motors [GM],Goldman Sachs Group [GS],208
78,Citigroup Inc. [C],Microsoft Corp. [MSFT],207
79,Bank of America Corp [BAC],Intel Corp. [INTC],205
80,Comcast A Corp [CMCSA],AT&T Inc [T],205
81,Apple Inc. [AAPL],Cisco Systems [CSCO],202
82,Apple Inc. [AAPL],Wal-Mart Stores [WMT],202
83,Bank of America Corp [BAC],Caterpillar Inc. [CAT],202
84,General Electric [GE],United Technologies [UTX],201
85,Citigroup Inc. [C],Facebook [FB],199
86,Apple Inc. [AAPL],Verizon Communications [VZ],198
87,Caterpillar Inc. [CAT],General Electric [GE],196
88,"American International Group, Inc. [AIG]",Goldman Sachs Group [GS],195
89,BlackRock [BLK],Citigroup Inc. [C],195
90,Boeing Company [BA],Caterpillar Inc. [CAT],193
91,News Corp. [NWSA],Time Warner Inc. [TWX],192
92,Bank of America Corp [BAC],Berkshire Hathaway [BRK.B],191
93,Cisco Systems [CSCO],Microsoft Corp. [MSFT],190
94,Apple Inc. [AAPL],News Corp. [NWSA],187
95,International Business Machines [IBM],Intel Corp. [INTC],186
96,General Electric [GE],Microsoft Corp. [MSFT],185
97,Apple Inc. [AAPL],Oracle Corp. [ORCL],184
98,Goldman Sachs Group [GS],Intel Corp. [INTC],184
99,Microsoft Corp. [MSFT],News Corp. [NWSA],184

time: 983 ms

## Reading and analysing high important articles

In [ ]:
def get_article(idx):
    return pd.read_csv(BLOOMBERG, skiprows=idx, nrows=1, index_col=0).loc[idx][2]

reuters = pd.read_csv(REUTERS, index_col=0)
reuters = reuters[reuters['content'].notna()]
# bloomberg = pd.read_csv(BLOOMBERG, index_col=0)